.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 900px;
}

.left-container{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33.3333%;
  background-image: url('../src/assets/images/bg-main-desktop.png');
}
.front-card{
  border: 2px solid purple;
  height: 10rem;
}
.back-card{
  border: 2px solid magenta;
  height: 10rem;
}
.right-container{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 66.6666%;
}
