:root {
  --main-bg-color: green;
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(270, 3%, 87%);
  --darkGray: hsl(279, 6%, 55%);
  --darkViolet: hsl(278, 68%, 11%);
  --gradientBorder: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --errors: hsl(0, 100%, 66%);
}
.App {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 900px;
}

.left-container{
  border: 2px solid var(--main-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33.3333%;
  background-image: url('../src/assets/images/bg-main-desktop.png');
}
.front-card{
  position: relative;
  top: 10rem;
  left: 10rem;
  width: auto;
  height: 17rem;
  border-radius: 10px;
  background-image: url('./assets/images/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.back-card{
  position: relative;
  top: 12rem;
  left: 1rem;
  width: auto;
  height: 17rem;
  background-image: url('./assets/images/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.right-container{
  border: 2px solid blue;
  display: flex;
  flex-direction:column;
  justify-content: center;
  height: 100%;
  width: 66.6666%;
}
.form{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  align-self: center;
  padding-left: 7rem;
  margin-left: 17rem;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}
.info-labels{
  margin: 0;
  padding: 0 0 .5rem 0;
  align-items: flex-start;
}
.info label{
  padding-right: 4rem;
}
.info-container{
  margin: 0;
  color: var(--lightGray);
}
.month{
  width: 12%;
  margin-right: 1rem;
  color: var(--lightGray);
}
.year{
  width: 12%;
  margin-right: 1rem;
}
.cvc{
  margin-left: 1rem;
  width: 35%;

}
label{
  padding-bottom: .5rem;
  color: var(--darkViolet);
}
input{
  width: 70%;
  margin-bottom: 2rem;
  border: 2px solid var(--lightGray);
  height: 3rem;
  border-radius: 10px;
  text-indent: .7rem;
  font-size: 18px;
  color: var(--darkViolet);
}
input::placeholder{
  color: var(--lightGray);
}

.button{
  border: none;
  width: 72%;
  background-color: var(--darkViolet);
  color: var(--white);
}
