.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-container{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 30%;
}
.front-card{
  border: 2px solid purple;
  height: 10rem;
}
.back-card{
  border: 2px solid magenta;
  height: 10rem;
}
.right-container{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 70%;
}
